# Iteration, the Built-In Functions, and File Paths

## Indexing Exercises

Using the example dataset *scores*, select only the described elements from each list:

In [1]:
scores = [0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0]

1) The third score

In [3]:
scores[2]

0.9

2) The last score

In [4]:
scores[-1]

0.0

3) The 2nd through 5th score

In [5]:
scores[1:5]

[0.3, 0.9, 1.1, 2.2]

4) Every second score (the first, third, fifth, etc)

In [6]:
scores[::2]

[0.2, 0.9, 2.2, 0.0, 1.3, 0.5, 0.0]

5) Every score after the 4th score

In [7]:
scores[3:]

[1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 0.0]

6) Every second score from the 2nd to the 8th.

In [8]:
scores[1:8:2]

[0.3, 1.1, 2.9, 0.7]

Change the 3rd score in the list to a 10.

In [9]:
scores[2] = 10

In [12]:
st = tuple(scores)
st[3] = 10

TypeError: 'tuple' object does not support item assignment

Change the last score to 999.

In [15]:
scores[-1] = 999
scores

[0.2, 0.3, 10, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3, 0.5, 0.1, 999]

## Iteration Exercises

Making an empty list, then filling it by appending:

```python
new_list = []
for item in old_list:
  new_item = item * 2
  new_list.append(new_item)
```

The same thing can be done in one step with a **"List comprehension"**:

```python
new_list = [item * 2 for item in old_list]
```

## Exercise: Calculating the Mean

**Key functions**:  len(), sum()

Without importing any python packages, how could you compute the mean of a list of numbers?

In [16]:
data = [0.3, 0.2, 2.5, 0.6, 1.5, 0.1, 0.7, 0.5, 1.9, 2.1]

In [18]:
sum(data) /len(data)

1.0399999999999998

## Exercise: A List of Squares

The **range()** function creates a series of values from one number to another.  These
values can be put in a list by putting the result in the **list()** function.  (ex: list(range(0, 5)))

Calculate the square of each integer from 0 to 30, and put those squares in a list (i.e. [1, 4, 9, 16, ...])

In [19]:
[a ** 2 for a in list(range(31))]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

In [21]:
squares = []
for a in range(31):
    square = a ** 2
    squares.append(square)

squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900]

## Exercise: A List of Strings


Make a list of strings representing the values from 3 to 10 (i.e. ['3', '4', '5', ...]).
The **str()** function turns numbers into strings.

In [24]:
strings = []
for integer in range(3, 11):
    string = str(integer)
    strings.append(string)
    
strings

['3', '4', '5', '6', '7', '8', '9', '10']

## Exercise: Title-Case Everything!

I listed the names of all my friends, but I left their names lower-case.  Using iteration,
how could I capitalize the first letter of each of their names?

In [27]:
friends = ['joe', 'gina', 'mehtap', 'michael', 'peter', 'evgeny']

capital_friends = []
for friend in friends:
    capital_friend = friend.title()
    capital_friends.append(capital_friend)
    
capital_friends

['Joe', 'Gina', 'Mehtap', 'Michael', 'Peter', 'Evgeny']

## Exercise: Summing two Lists

The **zip()** function turns takes multiple lists and turns them into one list of multiples,
letting you iterate over multiple lists at the same time.

```python
for a, b in zip(listA, listB):
  print(a, b)
```

Make a new list that is the sum of the elements in listA and listB.

In [29]:
lista = [2, 3, 4, 5, 0, 0, 0, 2, 2, 0]
listb = [0, 4, 2, 4, 5, 1, 0, 5, 3, 5]

listsum = []
for a, b in zip(lista, listb):
    listsum.append(a + b)
    
listsum

[2, 7, 6, 9, 5, 1, 0, 7, 5, 5]

In [31]:
listsum = [a + b for a, b in zip(lista, listb)]
listsum

[2, 7, 6, 9, 5, 1, 0, 7, 5, 5]

## Exercise: Counting the Samples
I want to print the sample number **(1, 2, 3, 4, ...)** next to each of my samples, like so:

```
1: MGS21
2: GHW16
3: HHH55
```

How do I loop through each item, printing its number and name like above?

*Hint:* The **enumerate()** function is useful here.

In [36]:
samples = ['MGS21', 'GHW16', 'HHH55', 'UMW93']
for idx, sample in enumerate(samples):
    print('{}: {}'.format(idx + 1, sample))

1: MGS21
2: GHW16
3: HHH55
4: UMW93

## Exercise: Match-Maker

I have a list of dogs and a list of owners.  How do I print their names together, along with their position in their list, as follows:

```
1. Snuffles and Jerry
2. Pongo and Caro
3. Stripes and Sean
```

In [45]:
dogs = ['Snuffles', 'Pongo', 'Stripes']
owners = ['Jerry', 'Caro', 'Sean']

for idx, (dog, owner) in enumerate(zip(dogs, owners)):
    print('{}. {} and {}'.format(idx + 1, dog, owner))
    print(idx, dog, owner)

1. Snuffles and Jerry
0 Snuffles Jerry
2. Pongo and Caro
1 Pongo Caro
3. Stripes and Sean
2 Stripes Sean

In [47]:
a, b, (c, d) = [2, 20, (3, 30)]
c

3

In [53]:
a, *rest, b = (1, 2, 3, 4, 5, 6)
b

6

## Exercise: Mean of Each Condition

Now you have two lists: a list of what group each patient was in, and a list of their performance scores.  Calculate the mean of each group's scores and put the means into a dictionary, so I can easily look up their values by just indexing the group's name.

**Sample**: means = {'A': 2.1, 'B': 4.2}

In [7]:
groups = ['A', 'B', 'B', 'A', 'B', 'B', 'B', 'B', 'A', 'A']
scores = [0.2, 0.3, 0.9, 1.1, 2.2, 2.9, 0.0, 0.7, 1.3, 0.3]

# Dictionaries

Dictionaries (or "dicts" in Python talk) are collections like lists, but instead of representing a **sequence** of values, they instead represent a **mapping** of key-value pairs.  For example, in a dictionary of dog owners, one would look up the dog's name (the **key**) and get the corresponding owner's name (the **value**).  As a result, dictionaries are not ordered by nature; it doesn't matter where an item appears in the dictionary, only what the pairing is.  

Dicts are made in Python using the curly brace **{}** and colon **:**.  

```python
owners = {'Snuffles': 'Greg', 'Brownie': 'Susan', 'Tinkles': 'Jenny'}
owners['Tinkles']
>> 'Jenny'
```

## Exercise: Capitols

Germany has many Bundesl√§nder, each with its own capital city.  Make a dictionary that gives you the Bundesland corresponding to a city (just include three here).

## Exercise: Last Names

Make a dictionary of birthdays of the people sitting next to you.  Include yourself!

## Exercise: More Descriptive Labels

You have a list of single-character strings that represent conditions in your experiment: 'L', 'R', and 'C'.  Change those labels to 'Left', 'Right', and 'Center'.

In [54]:
conditions = {'C': 'Center', 'L': 'Left', 'R': 'Right'}
conds = ['C', 'L', 'C', 'R', 'C', 'C', 'C', 'R', 'R', 'R']

new_conds = []
for cond in conds:
    new_conds.append(conditions[cond])
    
new_conds

['Center',
 'Left',
 'Center',
 'Right',
 'Center',
 'Center',
 'Center',
 'Right',
 'Right',
 'Right']